* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (min-width: 768px) {
  .section {
    width: 95vw;
  }
}

.app {
  text-align: center;
  padding: 5rem 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4em;
  font-style: italic;
  letter-spacing: 0.85rem;
  text-shadow: 6px 6px #989898;
  position: relative;
  animation: title;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-fill-mode: forwards;
}

@keyframes title {
  0% {
    top: -200px;
  }
  100% {
    top: 1px;
  }
}

p {
  color: brown;
  font-size: larger;
}
a {
  text-decoration: none;
  color: red;
  line-height: 2rem;
  font-size: larger;
  font-style: italic;
  transition: all 0.3s linear;
}

a:hover {
  color: white;
  background-color: red;
  border-radius: 5px;
}

.pix {
  border-radius: 10px;
  object-fit: cover;
  height: 17rem;
  width: 17rem;
  border: 0.25rem solid red;
  display: block;
}

.category {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.button {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: rgb(250, 40, 50);
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 0.95rem;
}

.button:hover {
  background: rgb(247, 52, 52);
  color: white;
}

.shoes {
  width: 90vw;
  margin: 0 auto;
  max-width: 2170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}
.shoe-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.shoe-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid gray;
}

.signup {
  background-color: rgb(187, 184, 184);
  max-width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 5px;
}

.sign-button {
  color: rgb(253, 253, 252);
  background-color: brown;
  cursor: pointer;
  font-size: 1em;
  border-style: none;
  border-radius: 3px;
  padding: 0.46em;
}

.sign-button:hover {
  color: brown;
  background-color: rgb(248, 247, 246);
  transition: all 0.3s linear;
}

input {
  border-radius: 5px;
  cursor: pointer;
}

/* .show {
  background-color: burlywood;
  max-width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 5px;
} */
.show-button {
  color: rgb(39, 34, 34);
  font-size: 1.5em;
  border-style: none;
  border-radius: 5px;
  background-color: transparent;
}
.show-button:hover {
  border: 1px solid brown;
  background-color: transparent;
}

.item {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.66em;
  margin: 0.75em;
}
